.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.navbar {
  height: 40px;
  background-color: black;
  color: white;
  text-align: center;
}

.GameDisplay {
  background-image: url('https://www.philosophytalk.org/system/files/0d7c8c6a3a60f9a29dda44de48c5b34f.jpg');
  height: 500px;
  opacity: 0.5;
}

.gameCard {
  width: 19rem;
}
